{% extends 'base.html' %}

{% block about %}active{% endblock about %}

{% block title %} About-FileSystem {% endblock %}
{% block body %}
{% load static %}




<div class="container">
  <div class="row justify-content-md-center">
    <div class="mbr-white col-md-10">
      <h1 class="mbr-section-title align-center mbr-bold pb-3 mbr-fonts-style display-5">Small Summary About
        FileSystem</h1>
      <p class="mbr-text align-center pb-3 mbr-fonts-style display-5">
        !!!!! Upload your File On this site and access your file from anywhere. !!!!! 
      </p>
      <h3 class="mbr-section-subtitle align-center mbr-light pb-3 mbr-fonts-style display-2">FOLLOW UP FOR MORE</h3>
      <div class="mbr-section-btn col-md-6"><a class="btn btn-md btn-outline-primary display-4 " href="/contact">
          CONTACT US</a></div>

      <div class="container marketing ">

        <!-- Three columns of text below the carousel -->
        <div class="row my-4 col-xs col-sm col-md ">
          <div class="col-lg-4">

            
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">

            <img src='/static/img/user.png'
                class="rounded-circle card mx-4 img-fluid align-items-center" style="width: 8rem;" alt="admin">
            <h2> <a href="https://instagram.com/ashwin_697" target="_blank">Ashwin Kanojia</a></h2>
            <h6>Hi, This Project has been developed by me. If you counter any Problem regarding to this project feel
              free to contact me i am there 24x7 . </h6>
          </div><!-- /.col-lg-4 -->
          <div class="col-lg-4">

            
          </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->





        <div class="my-4 mx-4">
          <a href="https://www.facebook.com/Ashwin.m.kanojia/" target="_blank" class="fa fa-facebook"></a>
          <a href="#" target="_blank" class="fa fa-twitter"></a>
          <a href="https://instagram.com/ashwin_697" target="_blank" class="fa fa-instagram "></a>

        </div>
      </div>
    </div>
  </div>

  {% endblock %}